Repository amedvedevx/task-uploader-mini-app-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix, stylelint './src/**/*.css' --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "prettier --write",
        "eslint --fix ./",
        "stylelint src/**/*.{ts,tsx} --fix"
    ],
    "*.{module.css,css}": [
        "prettier --write",
        "stylelint './src/**/*.css' --fix"
    ],
}

ME-41641: show correct file upload result
  src/api/query/bridge/docs.getUploadServer.ts
  src/api/query/bridge/docs.save.ts
  src/api/query/filesSlice.ts
  src/app/types.ts
  src/pages/upload/UploadPage.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

ME-41642: Add lazy retry
  src/app/AppPages.tsx
  src/app/utils.ts
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

[release-v2.1.0] - update ui, redesign uploadPage, fix reminder bugs
  .env
  .env.development
  CHANGELOG.md
  package.json
  src/api/query/bridge/docs.getUploadServer.ts
  src/api/query/bridge/docs.save.ts
  src/api/query/bridge/messages.send.ts
  src/api/query/filesSlice.ts
  src/api/query/taskResultSlice.ts
  src/api/query/taskSlice.ts
  src/api/query/testeesSlice.ts
  src/app/AppPages.tsx
  src/app/types.ts
  src/app/utils.ts
  src/components/ListContainer.tsx
  src/pages/addmembers/AddMembersPage.tsx
  src/pages/addmembers/components/list/MembersList.tsx
  src/pages/addmembers/components/list/components/SearchMembers.tsx
  src/pages/collectionId/CollectionIdPage.tsx
  src/pages/collectionId/components/collectionMembers/CompletedMembers.tsx
  src/pages/collectionId/components/collectionMembers/components/DownloadButton.tsx
  src/pages/collectionId/components/collectionMembers/notCompletedMembers.tsx
  src/pages/collectionId/components/headerButtons/components/RemindAll.tsx
  src/pages/create/CreatePage.tsx
  src/pages/create/components/CreateInput.tsx
  src/pages/home/components/CollectionCell.tsx
  src/pages/listmembers/ListMembersPage.tsx
  src/pages/upload/UploadPage.tsx
  src/pages/upload/components/FilesReadyToUpload.tsx
  src/pages/upload/components/UploadedFiles.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

change backend url to prod
  .env
  .env.development
Due: none

ME-41639: Fix colors for dark theme.
  preloadScreenStyles.css
  src/app/App.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix, stylelint './src/**/*.css' --fix

ME-41762: Add a collection description to collection page and invite link
  src/api/query/testeesSlice.ts
  src/app/types.ts
  src/components/PreloadScreen/PreloadScreen.tsx
  src/components/Stub/Stub.tsx
  src/lib/utils.ts
  src/pages/collectionId/CollectionIdPage.tsx
  src/pages/collectionId/components/headerButtons/components/RemindAll.tsx
  src/pages/listmembers/ListMembersPage.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

fix collection cell width
  src/pages/home/components/CollectionCell.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

ME-41635: Fix snackbar
  src/pages/collectionId/CollectionIdPage.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

update bridge versions to 5.189
  src/api/query/bridge/docs.getUploadServer.ts
  src/api/query/bridge/docs.save.ts
  src/api/query/bridge/messages.seacrhConversations.ts
  src/api/query/bridge/messages.send.ts
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

Resolve ME-41476 "Task/ refactor api layer"
  src/api/hooks/index.ts
  src/api/index.ts
  src/api/query/apiSlice.ts
  src/api/query/bridge/bridge.createHash.ts
  src/api/query/bridge/bridge.download.ts
  src/api/query/bridge/bridge.getAuthToken.ts
  src/api/query/bridge/bridge.getPlatform.ts
  src/api/query/bridge/bridge.getUserId.ts
  src/api/query/bridge/docs.getUploadServer.ts
  src/api/query/bridge/docs.save.ts
  src/api/query/bridge/index.ts
  src/api/query/bridge/messages.getConversationsMembers.ts
  src/api/query/bridge/messages.seacrhConversations.ts
  src/api/query/bridge/messages.send.ts
  src/api/query/bridgeSlice.ts
  src/api/query/filesSlice.ts
  src/api/query/index.ts
  src/api/query/mappers/tasksDateSorting.ts
  src/api/query/taskResultSlice.ts
  src/api/query/taskSlice.ts
  src/api/query/testeesSlice.ts
  src/api/state/authorizationSlice.ts
  src/app/AppPages.tsx
  src/app/types.ts
  src/hooks/index.ts
  src/hooks/useBridgePlatform.ts
  src/hooks/useCustomEventsLog.ts
  src/hooks/useGenerateBearer.ts
  src/hooks/usePreventClickOnSwipe.ts
  src/hooks/useUserRole.ts
  src/hooks/useVkToken.ts
  src/hooks/useVkUserId.ts
  src/lib/utils.ts
  src/pages/addmembers/AddMembersPage.tsx
  src/pages/collectionId/CollectionIdPage.tsx
  src/pages/collectionId/components/collectionMembers/notCompletedMembers.tsx
  src/pages/home/components/CollectionCell.tsx
  src/pages/upload/UploadPage.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

actualize release version and changelog
  CHANGELOG.md
  package.json
Due: none

fix stub
  src/components/Stub/Stub.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

Resolve ME-41843 "Bug/ bridge swipe settings"
  src/app/AppPages.tsx
  src/components/Stub/Stub.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

fix files upload
  src/api/query/apiSlice.ts
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

ME-41822: Add stub for downloading forbidden files
  src/lib/utils.ts
  src/pages/collectionId/components/collectionMembers/CompletedMembers.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

refactor
  src/lib/utils.ts
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

Resolve ME-41822 "Task/ add stub to download unsafe files"
  src/lib/utils.ts
  src/pages/collectionId/components/collectionMembers/CompletedMembers.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

ME-41822: remove validation for uploaded files caused by file extension
  src/pages/upload/UploadPage.tsx
  src/pages/upload/components/DropZone.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

update changelog
  CHANGELOG.md
Due: none

fix notification send
  src/pages/collectionId/components/collectionMembers/notCompletedMembers.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

fix bug with deleting tasks on home page, fix bug with disabling remind button
  src/api/query/taskSlice.ts
  src/api/query/testeesSlice.ts
  src/pages/home/components/CollectionCell.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

Adding a stub to download all files
  src/pages/collectionId/components/collectionMembers/CompletedMembers.tsx
  src/pages/collectionId/components/collectionMembers/components/DownloadButton.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

refactor
  src/pages/collectionId/components/collectionMembers/CompletedMembers.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

[release-v2.2.0] - single file upload logic, exe files, ui fixes
  src/api/query/taskSlice.ts
  src/api/query/testeesSlice.ts
  src/pages/collectionId/components/collectionMembers/CompletedMembers.tsx
  src/pages/collectionId/components/collectionMembers/components/DownloadButton.tsx
  src/pages/home/components/CollectionCell.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

change backEdn urls to prod
  .env
  .env.development
Due: none

change backend urls, change package json version
  .env
  .env.development
  package.json
Due: none

add stub to download all files button
  src/api/query/filesSlice.ts
  src/components/FooterWithButton.tsx
  src/pages/collectionId/CollectionIdPage.tsx
  src/pages/collectionId/components/collectionMembers/CompletedMembers.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

Resolve ME-41822 "Task/ add stub to download unsafe files"
  src/components/FooterWithButton.tsx
  src/pages/collectionId/CollectionIdPage.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

Master into stage
  .env
  .env.development
Due: none

ME-41939: new upload files design
  src/pages/upload/UploadPage.tsx
  src/pages/upload/components/DropZone.tsx
  src/pages/upload/components/FilesReadyToUpload.tsx
  src/pages/upload/components/HorizontalFileCell.tsx
  src/pages/upload/components/UploadedFiles.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

ME-41642: Add reconnection button.
  package.json
  src/app/AppPages.tsx
  src/app/FallbackComponent.tsx
  src/app/FallbackComponent/FallbackComponent.tsx
  src/app/FallbackComponent/index.ts
  src/app/FallbackComponent/styled.ts
  src/app/FallbackComponent/utils.ts
  src/app/utils.ts
  yarn.lock
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

[release-v2.0.0] - add stub warning by file extension for downloadAll
  .env
  .env.development
  CHANGELOG.md
  package.json
  src/components/FooterWithButton.tsx
  src/pages/collectionId/CollectionIdPage.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

[release-v2.2.1] - add stub warning by file extension for downloadAll
  .env
  .env.development
  CHANGELOG.md
  package.json
  src/components/FooterWithButton.tsx
  src/pages/collectionId/CollectionIdPage.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

fix backend url
  .env
  .env.development
Due: none

ME-41939: new file upload design
  src/components/HorizontalFileCell.tsx
  src/components/HorizontalScroll.tsx
  src/pages/upload/UploadPage.tsx
  src/pages/upload/components/DropZone.tsx
  src/pages/upload/components/FilesReadyToUpload.tsx
  src/pages/upload/components/UploadedFiles.tsx
Due: prettier --write, eslint --fix ./, stylelint src/**/*.{ts,tsx} --fix

Master into staging release-v2.2.1
  .env
  .env.development
Due: none
